.blog-hero{
    .c-btn-outline{
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 176px;
        }
    }
}
.blog-new{
    &-first{
        &-image{
            height: 325px;
            border-radius: 16px;
            overflow: hidden;
            @include media-breakpoint-up(lg) {
                border-radius: 24px;
            }  
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &-title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                &:hover{
                    color: var(--Text-primary, #C83232);
                }
            }
            
        }
        &-desc{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.chip{
    border-radius: var(--Radius-round, 1000px);
    border: 1px solid var(--Border-secondary, #28655B);
    padding: var(--Spacing-s, 8px) var(--Spacing-l, 16px);
    color: #28655B;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;
    &.--active{
        color: #fff;
        background: var(--Surface-success, #386E47);
        
    }
    &:hover{
        color: #fff;
        background: var(--Surface-success, #386E47);
    }
}
.blog-allnews{
    background: var(--Surface-page, #FFF);
    &-row{
        width: fit-content;
        max-width: 100%;
        display: flex;
        &-items{
            display: flex;
            gap: 16px;
            margin-top: 24px;
            flex-wrap: nowrap;
            overflow: auto;
            @include media-breakpoint-up(xl) {
                overflow: unset;
                justify-content: center;            
                flex-wrap: wrap;
            }
        }
    }
}
.blog-card{
    border-radius: 16px;
    border: 1px solid rgba(185, 185, 185, 0.30);
    background: #FFF;

    /* Shadow s */
    box-shadow: 0 24px 7px 0 rgba(0, 0, 0, 0.00), 0 15px 6px 0 rgba(0, 0, 0, 0.01), 0 8px 5px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.09), 0 1px 2px 0 rgba(0, 0, 0, 0.10);
    padding: var(--Spacing-xl, 24px);
    height: 100%;
    @include media-breakpoint-up(lg) {
        border-radius: 24px;
    }  
    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
    }
    &-category{
        padding: var(--Spacing-xxs, 2px) var(--Spacing-s, 8px);
        border-radius: 1000px;
        background: var(--Surface-success, #386E47);
        width: fit-content;
        span{
            display: block;
        }
    }
    &-header{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        a{
            &:hover{
                color: var(--Text-primary, #C83232);
            }
        }
    }
    &-desc{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.blog-single{
    &-title{
        &-meta{
            display: flex;
            align-items: center;
            gap: 24px;
            padding: 12px 16px;
            border-top: 1px solid var(--Border-100, #FCFDFD);
            border-bottom: 1px solid var(--Border-100, #FCFDFD);
            flex-wrap: wrap;
            @include media-breakpoint-up(sm) {
                padding: var(--Spacing-l, 16px) var(--Spacing-xl, 24px);
            }  
            &-author{
                display: flex;
                align-items: center;
                gap: 8px;
                .avatar{
                    width: 48px;
                    height: 48px;
                    border: var(--Stroke-l, 2px) solid var(--Border-300, #E9F5F4);
                }
            }
        }
    }
    &-content{
        background: #fff;
       
    }
    &-contents{
        padding: var(--Spacing-2xl, 32px);
        border-radius: 16px;
        border: 1px solid var(--Border-secondary, #28655B);
        @include media-breakpoint-up(lg) {
            border-radius: 24px;
        }  
        ol {
            counter-reset: list-counter;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ol li {
            counter-increment: list-counter;
            position: relative;
            padding-left: 40px;
            margin-bottom: 24px;
            color: #222;
            &:hover{
                a{
                    color: var(--Text-primary, #C83232);
                }
                &:before{
                    background: var(--Text-primary, #C83232);
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
        ol li::before {
            content: counter(list-counter);
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.3s ease;
            width: 28px;
            height: 28px;

            border-radius: 50%;

            background: #1f5a4e;
            color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            font-weight: 600;
        }
    }
    &-cta{
        border-bottom: 1px solid var(--Border-400, #D4EAE9);
        background: var(--Surface-secondary-dark, #264543);
    }
    &-more{
        background: #fff;
        overflow: hidden;
    }
}
.blog-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--Text-headline, #124738);
 
    @include typographyParagraphS-mobile();
    line-height: 16px;
    @include media-breakpoint-up(sm) {
        @include typographyParagraphS-tab();
        line-height: 18px;
    }
    @include media-breakpoint-up(lg) {
        @include typographyParagraphS();
        padding-left: 24px;
    }

    h6{
        @include typographyParagraphM-mobile();
        @include media-breakpoint-up(sm) {
            @include typographyParagraphM-tab();
        }
        @include media-breakpoint-up(lg) {
            @include typographyParagraphM();
        }
        font-weight: 400 !important;
        &>b{
            font-weight: 400 !important;
        }
    }
    h5{
        @include typographyParagraphM-mobile();
        @include media-breakpoint-up(sm) {
            @include typographyParagraphM-tab();
        }
        @include media-breakpoint-up(lg) {
            @include typographyParagraphM();
        }
        font-weight: 400 !important;
        &>b{
            font-weight: 400 !important;
        }
    }
    h4{
        // @include typographyParagraphL-mobile();
        // @include media-breakpoint-up(sm) {
        //     @include typographyParagraphL-tab();
        // }
        // @include media-breakpoint-up(lg) {
        //     @include typographyParagraphL();
        // }
        @include p-m();
        font-weight: 600 !important;
        &>b{
            font-weight: 600 !important;
        }
    }
    h3{
        @include p-l();
        display: inline-block;
        // @include typographyParagraphXl-mobile();
        // @include media-breakpoint-up(sm) {
        //     @include typographyParagraphXl-tab();
        // }
        // @include media-breakpoint-up(lg) {
        //     @include typographyParagraphXl();
        // }
        font-weight: 600 !important;
        &>b{
            font-weight: 600 !important;
        }
    }
    h2{
        @include p-xl();
        display: inline-block;
        scroll-margin-top: 110px;
        // @include typographyH6-mobile();
        // @include media-breakpoint-up(sm) {
        //     @include typographyH6-tab();
        // }
        // @include media-breakpoint-up(lg) {
        //     @include typographyH6();
        // }
        font-weight: 600 !important;
        &>b{
            font-weight: 600 !important;
        }
    }
    h1{
        display: inline-block;
        @include typographyH4-mobile();
        @include media-breakpoint-up(sm) {
            @include typographyH4-tab();
        }
        @include media-breakpoint-up(lg) {
            @include typographyH4();
        }
        font-weight: 400 !important;
        &>b{
            font-weight: 400 !important;
        }
    }
    ul{
            list-style-type: square;
            padding-left: 20px;
        }
        ol{
            list-style-type: decimal;
            padding-left: 20px;
        }
    .important-box{
        border-radius: 16px;
        border: 1px dashed var(--Border-alert, #EFB701);
        background: var(--Surface-alert-light, #FEF0DB);
        padding: var(--Spacing-2xl, 32px);
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: var(--Text-body, #101717);
        @include media-breakpoint-up(lg) {
            border-radius: 24px;
        }  
    }
    img{
        border-radius: 16px;
        @include media-breakpoint-up(lg) {
            border-radius: 24px;
        }
    }
    .content-download{
        &>span{
            padding-bottom: 8px;
            border-bottom: 1px solid var(--Border-400, #D4EAE9);
        }
    }
    a{
        text-decoration: underline;
        &:hover{
            color: var(--Text-primary, #C83232);
        }
    }
    table{
        tr,td{ 
            border: 1px solid;
    padding: .5em; 
        }
    }
    span{
        display: unset;
    }
}
.info-section-block {
    border-radius: 16px;
    border: 1px dashed var(--Border-alert, #EFB701);
    background: var(--Surface-alert-light, #FEF0DB);
    padding: var(--Spacing-2xl, 32px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--Text-body, #101717);

    @include media-breakpoint-up(lg) {
        border-radius: 24px;
    }
}
.info-section-block__placeholder {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin: 0;
    }
}
.blog-single-more-slider{
    width: 100%;
    padding-bottom: 40px;
    overflow: visible;
    height: 100%;
    .swiper-pagination{
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        margin: 0 !important;
        border-radius: 50%;
        background: var(--Surface-400, #D4EAE9);
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background: var(--Icon-primary, #E62E2E);
    }
    .blog-card{
        @include media-breakpoint-down(xl) {
            max-width: 318px !important;
            width: 100% !important;
        }
    }
}

.blank-content{
    background: #fff;
    .blog-content {
        h2, h3{
            @include p-m();
            font-weight: 600;
        }
    }
}

.boxcta{
    border-radius: var(--Radius-brand-xl, 24px);
    border-bottom: 1px solid var(--Border-400, #D4EAE9);
    background: var(--Surface-300, #E9F5F4);
    padding: 24px;
    @include media-breakpoint-up(sm) {
        padding: 32px;
    }
    @include media-breakpoint-up(lg) {
        padding: var(--Spacing-3xl, 48px);
    }
    &-buttons{
        width: 100%;
        max-width: 500px;
        a{
            min-width: 220px;
            text-decoration: unset !important;
            span{
                white-space: nowrap;
            }
            &.c-btn-fill{
                color: #fff !important;
            }
            &.c-btn-outline{
                    color: var(--Text-secondary, #264543);
            }
        }
    }

    &.--dark{
        border-radius: var(--Radius-brand-xl, 24px);
        border-bottom: 1px solid var(--Border-400, #D4EAE9);
        background: var(--Surface-secondary, #28655B);
        span,p{
            color: #fff !important;
        }
        .c-btn-outline{
            border: 2px solid #fff;
        }
    }
}